.App {
  display: flex;
  width: 99vw;
  height: 99vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#button-container {
  width: 30%;
  position: relative;
  left: 35%;
}
h3:hover {
  transition: all 0.5s;
  color: rgb(253, 133, 133);
}
.hover-btn {
  cursor: pointer;
  margin-top: 360px;
  font-size: 2.5rem;
  border: none;
  text-align: center;
  background-color: transparent;
  color: #61dbfb;
  font-family: Inria Serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.top {
  height: 25px;
  width: 20%;
  cursor: pointer;
  padding: 6px 10px 15px 10px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 1rem;
  position: relative;
  left: 40%;
  margin-top: -150px;
  background-color: rgba(12, 174, 238, 0.1);
}

.right {
  height: 25px;
  width: 20%;
  margin-top: -7%;
  position: relative;
  left: 67%;
  padding: 6px 10px 15px 10px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 1rem;
  background-color: rgba(12, 174, 238, 0.1);
}

.down {
  height: 25px;
  width: 20%;
  position: relative;
  left: 40%;
  margin-top: -50px;
  padding: 6px 10px 15px 10px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 1rem;
  background-color: rgba(12, 174, 238, 0.1);
}

.left {
  height: 25px;
  width: 20%;
  position: relative;
  left: 12%;
  padding: 6px 10px 15px 10px;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: -7%;
  font-size: 1rem;
  background-color: rgba(12, 174, 238, 0.1);
}

.outer-box {
  width: 80%;
  height: 820px;
  background: #f8f8f8;
}
.selection-box {
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grp-name p {
  color: #000;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  margin-top: 60px;
  line-height: normal;
}
select {
  width: 184px;
  height: 55px;
  background: #61dbfb;
  border: none;
  font-size: 20px;
  color: black;
  padding: 10px;
  padding-right: 10px;
  border-right: 16px solid transparent;
  border-radius: 5px;
}
img {
  width: 165px;
  height: 169px;
  top: 300px;
  position: absolute;
  left: 45%;
  right: 50%;
  rotate: 90deg;
}
.branded-footer {
  width: 80%;
  background-color: antiquewhite;
  text-align: center;
  font-weight: 500;
}
